parallaxbot {
    email {
        client {
            id     = "your-oauth-client-id"
            secret = "your-oauth-client-secret"
        }
        username = "your-gmail-address@gmail.com"
    }
}
